@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/system/placeholder-image.png";
}

<h2>新增產品</h2>
<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
    </div>
    
</form>

<script>
    $('#createProduct').validate({ // initialize the plugin
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            },
            Price: {
                range:[1,100000]
            }
        },
        messages: {
            Name: {
                required: 'Name為必須',
                minlength: '長度最少5字元',
                maxlength: '長度不得超過50字元'
            },
            Description: {
                maxlength: '長度不得超過500字元'
            },
            Price: {
                range: '價格介於1~100000'
            }
        }
    });
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',//'/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
    $("#saveBtn").click(function () {
        if ($("#createProduct").valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Product")',
                data: $("#createProduct").serialize()
            }).done(function (response) {
                //秀出結果
                $("#tableContiner").html(response);
                //清空新增資料
                $("#actionContainer").html("");
                focusAction("tableContiner");
            }).fail(function (XMLHttpRequest, textStatus, errThrown) {
                swal({
                    title: "錯誤",
                    text: "新增失敗!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
            });
        } else {

            swal({
                title: "警告?",
                text: "請完成所有必填欄位!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });

    

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>

